#app {
   font-family: Avenir, Helvetica, Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-align: center;

   .button,
   .link {
      cursor: pointer;
   }
}

.menu {
   display: flex;
   justify-content: center;
   background-color: var(--bg);
   flex-wrap: wrap;

   > * {
      margin: auto 0;
   }
}

body {
   padding: 0;
   margin: 0;
}

.button {
   background-color: var(--bg);
   border: solid 1px var(--bg);
   color: var(--color);

   &.inactive {
      border-color: transparent;
      color: var(--bg);
      background-color: transparent;
   }

   &:hover {
      color: var(--color);
      background-color: var(--hover);
   }
}

.badge {
   background-color: var(--bg);
   border: solid 1px var(--bg);
   color: var(--color);
}

.alert {
   border: solid 1px var(--bg);
   background-color: var(--light);
   color: var(--dark);
}

.button:disabled {
   opacity: 0.5;
   filter: grayscale(0.5);
}

#app > * {
   height: 100dvh;
}

.content {
   flex-grow: 1;
}
